/*TT Norms*/
@font-face {
  font-family: 'TTNorms-Regular', sans-serif;
  src: url("../fonts/TTNorms/TTNorms-Regular.woff2") format('woff2'),
       url("../fonts/TTNorms/TTNorms-Regular.woff") format('woff'),
       url("../fonts/TTNorms/TTNorms-Regular.ttf") format('ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TTNorms-Medium', sans-serif;
  src: url("../fonts/TTNorms/TTNorms-Medium.woff2") format('woff2'),
       url("../fonts/TTNorms/TTNorms-Medium.woff") format('woff'),
       url("../fonts/TTNorms/TTNorms-Medium.ttf") format('ttf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TTNorms-Bold.woff', sans-serif;
  src: url("../fonts/TTNorms/TTNorms-Bold.woff2") format('woff2'),
       url("../fonts/TTNorms/TTNorms-Bold.woff") format('woff'),
       url("../fonts/TTNorms/TTNorms-Bold.ttf") format('ttf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TTNorms-Extrabold.woff', sans-serif;
  src: url("../fonts/TTNorms/TTNorms-ExtraBold.woff2") format('woff2'),
       url("../fonts/TTNorms/TTNorms-ExtraBold.woff") format('woff'),
       url("../fonts/TTNorms/TTNorms-ExtraBold.ttf") format('ttf');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}