html {
  box-sizing: border-box;
  width: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


a {
  text-decoration: none;
  color: inherit;
}

ul, 
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
 margin: 0;
 font-size: inherit;
}


body {
  background: #fff;
  @extend %TTNorms-Medium;
  font-size: 16px;
  @extend %black;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}
@media (max-width: 1315px) {
  .container {
    max-width: 1050px;
  }
}

.btn {
  border-radius: 15px;
  cursor: pointer;
  &:focus {
    outline: none;
  }
}

.title-h2 {
  font-size: 45px;
  letter-spacing: -0.015em;
  line-height: 40px;
  @extend %TTNorms-Bold;
}

@media (max-width: 783px){
  .title-h2{
    font-size: 30px;
  }
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

// STYLES FOR SLIDER

/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: flex;
}

.slick-slider {
  min-width: 0;
}

.slick-slide {
  outline: none;
  width: 370px;
}

@media (max-width: 1280px) {
  .slick-slide {
    width: 345px;
  }
}

@media (max-width: 800px) {
  .slick-slide {
    width: 320px;
  }
}