@import "fonts";

/*TTNorms font*/
%TTNorms-Regular {
  font-family: 'TTNorms-Regular', sans-serif;
  font-weight: 400;
}

%TTNorms-Medium {
  font-family: 'TTNorms-Medium', sans-serif;
  font-weight: 500;
}

%TTNorms-Bold {
  font-family: 'TTNorms-Bold', sans-serif;
  font-weight: 700;
}

%TTNorms-ExtraBold {
  font-family: 'TTNorms-Extrabold', sans-serif;
  font-weight: 800;
}


// Colors
%white {
  color: #FFFFFF;
}

%yellow {
  color: #FFC464;
}

%black {
  color: #000000;
}

%purple {
  color: #A95094;
}

%purple_intensive {
  color: #96317D;
}

