@import "fonts";
@import "vars";
@import "libs";
@import "global";


// Header
.header {
  padding-top: 45px;
  background-color:#A95094;
  min-height: 10vh;
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__btn {
    padding: 18px 40px;
    background-color: transparent;
    cursor: pointer;
    border: 2px solid #FFC464;
    @extend %yellow;
    @extend %TTNorms-Bold;
    &:hover {
      @extend %black;
      background-color: #FFC464;
      transition: 0.3s;
    } 
  }
}

.logo {
  background-image: url(../images/logo.svg);
  background-repeat: no-repeat;
  width: 112px;
  height: 34px;
}

.nav {
  @extend %white;
  justify-content: space-between;
  &__list {
    display: flex;
    &-item{
      margin-right: 40px;
      &:hover {
        @extend %black;
        transition: 0.3s;
      } 
    }
  }
}

.geo-tag {
  @extend %white;
  &::before {
    content: url(../images/geo.svg);
    margin-right: 10px;
    position: relative;
    top: 5px;
  }
}

// STYLES FOR 1-st BLOCK
.page-section-first-screen {
  background-color:#A95094;
  min-height: 90vh;
  background-image: url(../images/main-image.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: contain;
  position: relative;
}

.offer {
  @extend %white;
  max-width: 664px;
  max-height: 265px;
  position: absolute;
  left: 44.5vw;
  top: 11vw;
  &__title-h1 {
    font-size: 67px;
    @extend %TTNorms-ExtraBold;
    margin-bottom: 25px;
    line-height: 95%;
  }
  &__text {
    font-size: 20px;
    margin-bottom: 35px;
    max-width: 460px;
    line-height: 120%;
    & span {
      @extend %TTNorms-Bold;
      @extend %yellow;
    }
  }
  &__btn {
    padding: 18px 50px;
    background-color: #000000;
    cursor: pointer;
    border: 2px solid #000000;
    @extend %white;
    &:hover {
      @extend %black;
      background-color: #FFC464;
      border: 2px solid #FFC464;
      transition: 0.3s;
    } 
  }
}

.small-banner {
  @extend %white;
  background-color: #000000;
  height: 50px;
  max-width: 100%;
  border-radius: 5px;
  margin: 0 135px 0 136px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  position: absolute;
  bottom: 20px;
  &__closing-cross {
    background-image: url(../images/cross-white.svg);
    background-repeat: no-repeat;
    width: 11px;
    height: 11px;
  }
  &__text {
    line-height: 20px;
    position: relative;
    padding-left: 20px;
    @extend %TTNorms-Bold;
    & span {
      @extend %yellow;
    }
    &::before {
      content: '';
      width: 10px;
      height: 10px;
      background-color: #78C23E;
      border-radius: 50%;
      position: absolute;
      left: 0;
      top: 5px;
    }
  }
  &__get-discount {
    @extend %yellow;
    &:after {
      content: url(../images/arrow-right.svg);
      margin-left: 25px;
    }
  }
}

// STYLES FOR 2-d BLOCK
.page-section-advantages {
  background-color: #fff;
  padding: 75px 184px;
  &__inner {
    max-width: 1072px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
}

.advantage {
  max-width: 184px;
  &__img {
    margin-bottom: 30px;
  }
  &__text {
    line-height: 120%;
    font-size: 20px;
  }
}

// STYLES FOR 3-d BLOCK
.page-section-online-diagnostics {
  background-color: #E5E5E5;
  padding: 115px 0 149px 0;
  background-image: url(../images/bg-online-diagnosics.png);
  background-repeat: no-repeat;
  background-position: right;
  &__inner {
    max-width: 1072px;
    margin: 0 auto;
    & span {
      text-transform: uppercase;
      @extend %purple;
      margin-bottom: 15px;
      font-size: 13px;
      line-height: 15px;
      letter-spacing: 0.05em;
      @extend %TTNorms-Bold;
      display: block;
    }
  }
  &__title-h2 {
    margin-bottom: 50px;
  }
  &__problems {
    max-width: 594px;
    margin-bottom: 30px;
  }
  &__problem-item {
    @extend %purple;
    padding: 15px 29px;
    border: 2px solid #A95094;
    display: inline-block;
    border-radius: 15px;
    margin: 0 15px 20px 0;
    &:hover {
      @extend %white;
      background-color: #A95094;
      transition: 0.3s;
    } 
  }
  &__text {
    max-width: 417px;
    position: relative; 
    padding-left: 49px;
    &::before {
      content: '';
      background-image: url(../images/warning.svg);
      background-repeat: no-repeat;
      width: 34px;
      height: 34px;
      position: absolute;
      left: 0;
      top: -5px;
    }
  }
}


// STYLES FOR 4th BLOCK