@import "fonts";
@import "vars";
@import "libs";
@import "global";


// Header
.header {
  padding: 45px 30px 0 30px;
  background-color:#A95094;
  min-height: 10vh;
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__btn {
    padding: 18px 40px;
    background-color: transparent;
    cursor: pointer;
    border: 2px solid #FFC464;
    margin-left: 10px;
    @extend %yellow;
    @extend %TTNorms-Bold;
    &:hover {
      @extend %black;
      background-color: #FFC464;
      transition: 0.3s;
    } 
  }
}

.logo {
  background-image: url(../images/logo.svg);
  background-repeat: no-repeat;
  width: 112px;
  height: 34px;
  margin: 10px 0;
}

.nav {
  @extend %white;
  justify-content: space-between;
  &__list {
    display: flex;
    &-item{
      margin-right: 20px;
      padding: 10px;
      cursor: pointer;
      &:hover {
        @extend %black;
        transition: 0.3s;
      } 
    }
  }
}

.geo-tag {
  @extend %white;
  margin: 0 10px;
  &::before {
    content: url(../images/geo.svg);
    margin-right: 10px;
    position: relative;
    top: 5px;
  }
}

@media (max-width: 1315px) {
  .nav {
    &__list-item {
      margin-right: 15px;
      padding: 5px;
    }
  }
}

@media (max-width: 1070px) {
  .header {
    padding: 45px 130px 0 130px;
    &__container {
      flex-wrap: wrap;
    }
  }
  .geo-tag {
    order: 1;
  }
  .nav {
    order: 2;
  }
  .logo {
    order: 3;
  }
  .header__btn {
    order: 4;
    margin-top: 20px;
  }
}

@media (max-width: 990px){
  .header {
    padding: 45px 90px 0 90px;
  }
}

@media (max-width: 910px){
  .header {
    padding: 45px 40px 0 40px;
  }
}

@media (max-width: 810px){
  .header {
    padding: 20px 30px 0 30px;
    &__container {
      justify-content: center;
    }
  }
  .geo-tag  {
    padding: 15px 20px;
  }
  .nav {
    padding: 20px 0px;
  }
  .logo {
    margin: 28px 40px 10px;
  }
}

@media (max-width: 610px) {
  .nav {
    overflow-x: scroll;
  }
}

@media (max-width: 530px) {
  .header__btn {
    display: none;
  }
  .geo-tag {
    display: none;
  }
}

.nav::-webkit-scrollbar { width: 3px; height: 3px;}
.nav::-webkit-scrollbar-track {  background-color: #96317D;}
.nav::-webkit-scrollbar-track-piece { background-color: #A95094;}
.nav::-webkit-scrollbar-thumb { height: 50px; background-color: #96317D; border-radius: 3px;}
.nav::-webkit-scrollbar-corner { background-color: #96317D;}
.nav::-webkit-resizer { background-color: #96317D;}

// STYLES FOR 1-st BLOCK
.page-section-first-screen {
  background-color:#A95094;
  min-height: 90vh;
  background-image: url(../images/main-image.png);
  background-repeat: no-repeat;
  background-position: -183px bottom;
  background-size: contain;
  padding-right: 30px;
  padding-left: 30px;
  position: relative;
}

.offer {
  @extend %white;
  max-width: 664px;
  float: right;
  margin-top: 200px;
  &__title-h1 {
    font-size: 67px;
    @extend %TTNorms-ExtraBold;
    margin-bottom: 25px;
    line-height: 95%;
  }
  &__text {
    font-size: 20px;
    margin-bottom: 35px;
    max-width: 460px;
    line-height: 120%;
    & span {
      @extend %TTNorms-Bold;
      @extend %yellow;
    }
  }
  &__btn {
    padding: 18px 50px;
    background-color: #000000;
    cursor: pointer;
    border: 1px solid #000000;
    @extend %white;
    &:hover {
      @extend %black;
      background-color: #FFC464;
      border: 1px solid #FFC464;
      transition: 0.3s;
    } 
  }
}

.small-banner {
  @extend %white;
  background-color: #000000;
  border-radius: 5px;
  padding: 15px 30px;
  position: absolute;
  bottom: 25px;
  max-width: 1170px;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__text {
    line-height: 20px;
    position: relative;
    padding-left: 27px;
    padding-right: 300px;
    @extend %TTNorms-Bold;
    & span {
      @extend %yellow;
    }
    &::before {
      content: '';
      width: 10px;
      height: 10px;
      background-color: #78C23E;
      border-radius: 50%;
      position: absolute;
      left: 0;
      top: 5px;
    }
  }
  &__get-discount a {
    @extend %yellow;
    &:after {
      content: url(../images/arrow-right.svg);
      margin-left: 25px;
    }
  }
}

@media (max-width: 1320px) {
  .page-section-first-screen {
    background-position: center bottom;
    background-size: 800px;
  }
  .offer {
    float: unset;
    margin: 0 auto;
    padding-top: 30px;
    text-align: center;
    &__text {
      max-width: unset;
      margin-bottom: 300px;
    }
  }
 .small-banner {
   bottom: -9px;
   left: 0;
   border-radius: 0px;
   min-width: 100%;
   &__inner{
     flex-direction: column;
     align-items: center;
     justify-content: center;
   }
   &__text {
     margin-bottom: 10px;
     padding-right: 0;
   }
   &__get-discount {
     margin-bottom: 10px;
   }
 }
}

@media (max-width: 740px) {
  .page-section-first-screen {
    background-position: left bottom;
    background-size: 800px;
  }
  .offer {
    &__title-h1 {
      font-size: 38px;
    }
    &__text {
      margin-bottom: 50px;
    }
  }
}

@media (max-width: 560px) {
  .page-section-first-screen  {
    background-image: url(../images/main-image-mobile.png);
    background-size: 100%;
    background-position: bottom right;
  }
}


// STYLES FOR 2-d BLOCK
.page-section-advantages {
  background-color: #fff;
  padding: 116px 184px;
  &__inner {
    max-width: 1072px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.advantage {
  flex-basis: 16%;
  &__img {
    margin-bottom: 30px;
    min-width: 125px;
  }
  &__text {
    line-height: 120%;
    font-size: 20px;
    min-width: 183px;
  }
}

@media (max-width: 1230px) {
  .page-section-advantages{
    padding: 75px 75px 25px 75px;
  }
  .advantage {
    flex-basis: 40%;
    margin-bottom: 50px;
    display: flex;
    align-content: center;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (max-width: 830px) {
  .page-section-advantages{
    padding: 65px 90px 15px 90px;
  }
  .advantage {
    flex-basis: 100%;
    justify-content: flex-start;
  }
}

@media (max-width: 560px) {
  .page-section-advantages{
    padding: 65px 30px 15px 30px;
  }
  .advantage__text {
    font-size: 18px;
  }
  .advantage__img img{
    max-width: 64px;
  }
  .advantage__img {
    min-width: 92px;
  }
}



// STYLES FOR 3-d BLOCK
.page-section-online-diagnostics {
  background-color: #FAFAFA;
  padding: 115px 30px 149px 30px;
  background-image: url(../images/bg-online-diagnosics.png);
  background-repeat: no-repeat;
  background-position: right;
  height: 730px;
  &__inner-choose-problem {
    max-width: 1072px;
    margin: 0 auto;
  }
  &__inner-problem-choosen {
    max-width: 1072px;
    margin: 0 auto;
    display: none;
  }
  &__subtitle {
    text-transform: uppercase;
    @extend %purple;
    margin-bottom: 15px;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.05em;
    @extend %TTNorms-Bold;
    &-choose-problem {
      text-transform: uppercase;
      @extend %purple;
      margin-bottom: 15px;
      font-size: 13px;
      line-height: 15px;
      letter-spacing: 0.05em;
      @extend %TTNorms-Bold;
      cursor: pointer;
      max-width: 300px;
      &:before {
        content: url(../images/arrow-left.svg);
        margin-right: 25px;
      }
    }
  }
  &__title-h2 {
    margin-bottom: 50px;
  }
  &__problems {
    max-width: 594px;
    margin-bottom: 30px;
  }
  &__problem-item {
    @extend %purple_intensive;
    padding: 15px 29px;
    border: 2px solid #96317D;
    display: inline-block;
    border-radius: 15px;
    margin: 0 15px 20px 0;
    background-color: #FAFAFA;
    cursor: pointer;
    &:hover {
      @extend %white;
      background-color: #96317D;
      transition: 0.3s;
    } 
  }
  &__text {
    max-width: 417px;
    position: relative; 
    padding-left: 49px;
    &::before {
      content: '';
      background-image: url(../images/warning.svg);
      background-repeat: no-repeat;
      width: 34px;
      height: 34px;
      position: absolute;
      left: 0;
      top: -5px;
    }
  }
}

.problem-answer {
  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
  }
  &__progress-bar {
    font-size: 26px;
    width: 100px;
    height: 100px;
    @extend %TTNorms-Bold;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    & canvas {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  &__description {
    margin-left: 30px;
    &-title {
      font-size: 20px;
      margin-bottom: 7px;
    }
    &-text {
      font-size: 24px;
      @extend %TTNorms-ExtraBold;
      & span {
        font-size: 16px;
        @extend %TTNorms-Regular;
        @extend %purple_intensive;
        margin-left: 7px;
      }
    }
  }
  &__btn {
    padding: 18px 50px;
    background-color: #000000;
    cursor: pointer;
    border: 1px solid #000000;
    @extend %white;
    &:hover {
      @extend %black;
      background-color: #FFC464;
      border: 1px solid #FFC464;
      transition: 0.3s;
    } 
  }
}

@media (max-width: 1130px) {
  .page-section-online-diagnostics {
    background-image: none;
    &__inner-choose-problem {
      max-width: 600px;
    }
    &__inner-problem-choosen {
      max-width: 550px;
    }
    &__problems {
      margin-bottom: 15px;
    }
  }
}

@media (max-width: 560px)  {
  .page-section-online-diagnostics {
    padding: 70px 30px 70px 30px;
    &__title-h2 {
      margin-bottom: 25px;
    }
    &__subtitle {
      margin-bottom: 10px;
    }
    &__problem-item {
      margin: 0 15px 10px 0;
      padding: 15px 20px;
    }
  }
}

@media (max-width: 450px) {
  .problem-answer {
    &__progress-bar {
      font-size: 18px;
      width: 80px;
      height: 80px;
    }
    &__description {
      margin-left: 30px;
    }
  }
}

// STYLES FOR 4th BLOCK
.page-section-price {
  max-width: 1031px;
  margin: 0 auto;
  padding: 100px 30px 100px 30px;
  &__title-h2 {
    text-align: center;
    margin-bottom: 50px;
  }
  &__show-more {
    @extend %purple_intensive;
    position: relative;
    cursor: pointer;
    max-width: 175px;
    margin: 0 auto;
    &::after {
      content: '';
      background-image: url(../images/show-more-arrow.svg);
      background-repeat: no-repeat;
      position: absolute;
      width: 26px;
      height: 26px;
      right: 0px;
      top: -4px;
    }
  }
}

.table {
  max-width: 971px;
  @extend %TTNorms-Regular;
  margin-bottom: 50px;
  border-spacing: 0;
  & td {
    padding: 25px 5px 25px 5px;
    border-bottom: 1px solid #ECECEC;
  }
  & th {
    padding: 25px 0 25px 0;
    @extend %TTNorms-Regular;
    border-bottom: 1px solid #ECECEC;
  }
  &__price {
    @extend %black;
    @extend %TTNorms-Medium;
    text-align: right;
  }
  &__price-show-more {
    display: none;
  }
  &__no-price {
    @extend %purple_intensive;
    @extend %TTNorms-Medium;
    text-align: right;
  }
  &__col-1 {
    width: 621px;
    text-align: left;
  }
  &__col-2 {
    width: 175px;
    text-align: right;
  }
  &__col-3 {
    width: 175px;
    text-align: right;
  }
}

@media (max-width: 783px){
  .page-section-price {
    padding: 50px 30px 50px 30px;
  }
}

// STYLES FOR 5th BLOCK
.page-section-team {
  background-color: #FAFAFA;
  padding: 100px 30px 100px 30px;
  & span {
    font-size: 20px;
    @extend %purple_intensive;
    text-align: center;
    margin-bottom: 10px;
    display: block;
  }
  &__title-h2 {
    text-align: center;
    margin-bottom: 50px;
  }
}

.team-card-container {
  max-width: 1182px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.team-card-item {
  background-color: #FFFFFF;
  border-radius: 10px;
  margin-right: 30px;
  overflow: hidden;
  &__image img {
    border-radius: 10px 10px 0 0;
  }
  &__info {
    padding: 50px 45px;
  }
  &__name {
    font-size: 24px;
    margin-bottom: 8px;
  }
  &__profession {
    @extend %TTNorms-Regular;
    margin-bottom: 25px;
  }
  &__list {
    @extend %purple_intensive;
    & li {
      padding-bottom: 20px;
      &::before {
        content: url(../images/list-style-type.svg);
        padding-right: 10px;
      }
    }
  }
}

/* Слайдер */
.slider-team {
  position: relative;

  & .slick-arrow {
    position: absolute;
    bottom: -55px;
    font-size: 16px;
    @extend %TTNorms-Medium;
    height: 19px;
    width: 48px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    &.slick-disabled {
      display: none !important;
    }
    &.slick-prev {
      right: 160px;
      @extend %black;
    }
    &.slick-next {
      right: 75px;
      @extend %purple_intensive;
      &:after {
        content: url(../images/arrow-right-slider.svg);
        position: relative;
        top: -18px;
        right: -62px;
      }
    }
  }
  & .slick-dots { /* Точки (булиты) */  
    display: flex;
    margin-top: 35px;
    position: absolute;
    bottom: -44px;
    & li {
      list-style-type: none;
      margin: 0 10px;
      &.slick-active button { /* Активная точка */
        font-size: 0;
        width: 8px;
        height: 8px;
        background-color: #96317D;
        border-radius: 50%;
        border: 0;
        outline: none;
        cursor: pointer;
        padding: 0;
        position: relative;
        &::before {
          content:"";
          position: absolute;
          top: -10px;
          left: -10px;
          border-radius: 50%;
          width: 28px;
          height: 28px;
          z-index: 1;
          border: 2px solid #96317D;
        }
      }
    }
    & button {
      font-size: 0;
      width: 8px;
      height: 8px;
      background-color: #96317D;
      border-radius: 50%;
      border: 0;
      outline: none;
      cursor: pointer;
      padding: 0;
    }
  }

}

@media (max-width: 1280px){
  .team-card-container{
    max-width: 730px;
  }
  .team-card-item__image img {
    width: 345px;
  }
}

@media (max-width: 800px){
  .page-section-team {
    padding: 70px 30px 70px 30px;
    &__title-h2 {
      margin-bottom: 25px;
    }
  }
  .team-card-container{
    max-width: 320px;
  }
  .team-card-item__image img {
    width: 315px;
  }
  .team-card-item__info {
    padding: 30px 45px;
  }
}


// STYLES FOR 6th BLOCK
.page-section-testimonials {
  padding: 100px 30px 100px 30px;
  &__title-h2 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 40px;
  }
  &__container {
    max-width: 1170px;
    margin: 0 auto;
  }
}

.testimonial-card {
  min-width: 570px;
  background: linear-gradient(0deg, #FAFAFA, #FAFAFA), #FAE6F5;
  max-height: 417px;
  min-height: 417px;
  margin-right: 30px;
  &__inner {
    padding: 75px 50px;
  }
  &__info {
    display: flex;
  }
  &__image img {
    border-radius: 100px;
    margin-right: 30px;
  }
  &__name {
    font-size: 24px;
    margin-bottom: 8px;
  }
  &__date {
    font-size: 16px;
    @extend %TTNorms-Regular;
  }
  &__text {
    max-width: 470px;
    margin-top: 35px;
    font-size: 18px;
    @extend %TTNorms-Regular;
    line-height: 150%;
  }
}

/* Слайдер */
.slider-testimonials {
  position: relative;

  & .slick-arrow {
    position: absolute;
    bottom: -7px;
    font-size: 16px;
    @extend %TTNorms-Medium;
    height: 19px;
    width: 48px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    &.slick-disabled {
      display: none !important;
    }
    &.slick-prev {
      right: 142px;
      @extend %black;
    }
    &.slick-next {
      right: 57px;
      @extend %purple_intensive;
      &:after {
        content: url(../images/arrow-right-slider.svg);
        position: relative;
        top: -18px;
        right: -62px;
      }
    }
  }
  & .slick-dots { /* Точки (булиты) */  
    display: flex;
    margin-top: 35px;
    & li {
      list-style-type: none;
      margin: 0 10px;
      &.slick-active button { /* Активная точка */
        font-size: 0;
        width: 8px;
        height: 8px;
        background-color: #96317D;
        border-radius: 50%;
        border: 0;
        outline: none;
        cursor: pointer;
        padding: 0;
        position: relative;
        &::before {
          content:"";
          position: absolute;
          top: -10px;
          left: -10px;
          border-radius: 50%;
          width: 28px;
          height: 28px;
          z-index: 1;
          border: 2px solid #96317D;
        }
      }
    }
    & button {
      font-size: 0;
      width: 8px;
      height: 8px;
      background-color: #96317D;
      border-radius: 50%;
      border: 0;
      outline: none;
      cursor: pointer;
      padding: 0;
    }
  }

}

@media (max-width: 1320px) {
  .page-section-testimonials {
    &__container {
      max-width: 570px;
    }
  }
}

@media (max-width: 680px) {
  .page-section-testimonials {
    padding: 70px 30px 70px 30px;
    &__container {
      max-width: 320px;
    }
    &__title-h2 {
      margin-bottom: 35px;
      font-size: 30px;
    }
  }
  .testimonial-card {
    max-width: 300px;
    min-width: 300px;
    max-height: 320px;
    &__inner {
      padding: 35px 30px;
    }
    &__text {
      max-width: 270px;
      font-size: 16px;
      margin-top: 15px;
    }
    &__name {
      font-size: 18px;
    }
    &__image img {
      width: 54px;
      height: 54px;
    }
  }
} 


// STYLES FOR 7th BLOCK
.page-section-rating {
  padding: 50px 30px 50px 30px;
  background-color: #FAFAFA;
  &__flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.rate-card {
  background-color: #fff;
  margin: 15px;
  padding: 28px;
  min-width: 370px;
  border-radius: 10px;
  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }
  &__inner {
    display: flex;
    align-items: center;
  }
  &__rating-info {
    display: flex;
    flex-direction: column;
    margin-right: 28px;
  }
  &__rating {
    font-size: 25px;
    margin-bottom: 5px;
    &::before {
      content: url(../images/rating-star.svg);
      padding-right: 10px;
    }
    & span {
      font-size: 35px;
      @extend %TTNorms-Bold;
    }
  }
  &__number-of-rating {
    @extend %TTNorms-Regular;
  }
  &__img {
    &::before {
      content: '';
      width: 1px;
      height: 65px;
      background-color: #E3E3E3;
      display: inline-block;
      margin-right: 29px;
    }
    &  img {
      position: relative;
      bottom: 14px;
      right: 3px;
    }
  }
}

@media (max-width: 1320px) {
  .page-section-rating {
    &__flex {
      align-items: flex-start;
      flex-direction: column;
      align-items: center;
    }
  }
  .rate-card {
    margin: 0px 0px 25px 0px;
  }
}

@media (max-width: 440px) {
  .rate-card {
    margin: 0px 0px 25px 0px;
    min-width: 260px;
    padding: 22px 22px;
    &__rating {
      font-size: 16px;
    }
    &__rating span {
      font-size: 20px;
    }
    &__number-of-rating {
      font-size: 13px;
    }
    &__rating-info {
      margin-right: 0;
    }
    &__img img {
      bottom: -3px;
      right: -21px;
    }
    &__img::before {  
      display: none;
    }
  }
}

// STYLES FOR 8th BLOCK
.page-section-faq {
  padding: 100px 30px 100px 30px;
  &__inner {
    max-width: 1157px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__title-info {
    margin-right: 106px;
  }
  &__title-h2 {
    max-width: 329px;
    line-height: 100%;
    font-size: 40px;
    @extend %TTNorms-Bold;
  }
  &__text {
    font-size: 18px;
    line-height: 150%;
    @extend %TTNorms-Regular;
    max-width: 301px;
    letter-spacing: -0.05em;
    & a {
      @extend %purple;
      text-decoration-line: underline;
      @extend %TTNorms-Medium;
    }
  }
}

summary::-webkit-details-marker {
  display: none; /* Убираем стандартный маркер Chrome */
}

summary {
  list-style: none; /* Убираем стандартный маркер Firefox */
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.02em;
  @extend %TTNorms-Medium;
  padding-bottom: 10px;
  &:focus {
    outline: none;
  }
  cursor: pointer;
}

summary:after {
  content: url(../images/faq-marker.svg);
  transition: transform 0.2s;
  position: absolute;
  top: 20px;
  right: 30px;
  margin-left: 20px;
}

details {
  @extend %TTNorms-Regular;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.02em;
  min-width: 722px;
  max-width: 722px;
  background: #FAFAFA;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 25px 93px 15px 35px;
  line-height: 150%;
  position: relative;
  & li::before {
    content: url(../images/list-style-type.svg);
    padding-right: 10px;
  }
}

@media (max-width: 1320px) {
  .page-section-faq {
    &__inner {
    flex-direction: column;
    align-items: center;
    }
    &__title-h2 {
      max-width: 577px;
      text-align: center;
    }
    &__text {
      max-width: 527px;
      text-align: center;
    }
    &__title-info {
      margin-right: 0;
    }
  }
  details {
    font-size: 16px;
    min-width: 722px;
    max-width: 722px;
  }
  summary {
    font-size: 18px;
  }
}

@media (max-width: 900px) {
  .page-section-faq {
    padding: 70px 30px 70px 30px;
  }
  details {
    min-width: 522px;
    max-width: 522px;
    padding: 25px 68px 15px 35px;
  }
}

@media (max-width: 590px) {
  details {
    min-width: 312px;
    max-width: 312px;
  }
  summary {
    padding-right: 10px;
  }
  .page-section-faq__title-h2 {
    font-size: 30px;
  }
  .page-section-faq__inner {
    max-width: 320px;
  }
}


// STYLES FOR 9th BLOCK
.page-section-form {
  background-image: url(../images/bg-form.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 30px 100px 30px;
}

.form {
 background-color: #fff;
 max-width: 1341px;
 margin: 0 auto;
 padding: 50px 84px;
 border-radius: 15px;
 &__inner {
   display: flex;
   justify-content: space-between;
 }
 &__text-info {
  max-width: 440px;
 }
 &__title-h2 {
  font-size: 40px;
  margin-bottom: 10px;
  @extend %TTNorms-Bold;
  letter-spacing: -0.015em;
 }
 &__text {
  font-size: 20px;
  & span {
    @extend %purple;
    @extend %TTNorms-Bold;
  }
 }
 &__input input {
   background-color: #FAFAFA;
   min-width: 326px;
   padding: 25px 30px;
   border-radius: 15px;
   border: 1px solid #FAFAFA;
   color: #171717;
 }
 &__input input:focus {
   outline: none;
 }
 &__btn {
  min-width: 321px;
  background-color: #A95094;
  border: 1px solid #A95094;
  padding: 25px 96px;
  @extend %white;
  &:focus {
    outline: none;
  }
  &:hover {
    @extend %black;
    transition: 0.3s;
  }
 }
}

@media (max-width: 1340px) {
  .form {
    max-width: 500px;
    &__inner {
    flex-direction: column;
    text-align: center;
    }
    &__input {
      margin-top: 20px;
      margin-bottom: 15px;
    }
  }
}

@media (max-width: 590px) {
  .page-section-form {
    padding: 50px 30px 50px 30px;
  }
  .form {
    max-width: 300px;
    padding: 43px 20px;
    &__title-h2 {
      font-size: 30px;
    }
    &__text {
      font-size: 16px;
    }
    &__input {
      margin-top: 20px;
      margin-bottom: 15px;
      & input {
        min-width: 200px;
        padding: 20px 20px;
      }
    }
    &__btn {
      min-width: 220px;
      padding: 20px 20px;
    }
  }
}


// STYLES FOR 10th BLOCK
.page-section-contacts {
  padding: 100px 30px 100px 30px;
  max-width: 1186px;
  margin: 0 auto;
  &__inner {
    display: flex;
    justify-content: flex-start;
  }
  &__map {
    width: 731px;
    height: 580px;
    margin-right: 75px;
  }
  &__info {
    max-width: 346px;
  }
  &__title-h2{
    line-height: 100%;
    margin-top: 74px;
    margin-bottom: 48px;
  }
  &__descripion{
    margin-bottom: 43px;
  }
  &__address {
    font-size: 18px;
    @extend %TTNorms-Bold;
    margin-bottom: 10px;
  }
  &__working-hours {
    @extend %TTNorms-Regular;
  }
  &__email {
    font-size: 18px;
    @extend %TTNorms-Bold;
    margin-bottom: 35px;
  }
  &__button {
    @extend %purple_intensive;
    border: 2px solid #96317D;
    background-color: #fff;
    max-width: 162px;
    padding: 18px 40px;
    &:hover {
      background-color: #96317D;
      color: #fff;
      border: 2px solid #96317D;
      transition: 0.3s;
    }
  }
}

@media (max-width: 1160px)  {
  .page-section-contacts {
    padding: 70px 30px 70px 30px;
    &__title-h2 {
      margin-top: 0;
    }
    &__inner {
      flex-direction: column-reverse;
      align-items: center;
    }
    &__info {
      max-width: none;
      text-align: center;
    }
    &__descripion {
      margin-bottom: 23px;
    }
    &__email {
      margin-bottom: 20px;
    }
    &__map {
      margin-right: 0px;
      margin-top: 25px;
    }
  }
}

@media (max-width: 800px) {
  .page-section-contacts__map {
    width: 400px;
    height: 380px;
  }
}

@media (max-width: 460px) {
  .page-section-contacts__map {
    width: 300px;
    height: 300px;
  }
}

// STYLES FOR FOOTER BLOCK
.footer {
  max-width: 1338px;
  margin: 0 auto;
  padding: 0px 30px 30px 30px;
  &__logo {
    text-align: center;
    margin-bottom: 35px;
  }
  &__info {
    display: flex;
    justify-content: space-between;
    @extend %TTNorms-Regular;
    &-text {
      padding: 10px 0px;
    }
  }
}

.footer-nav {
  max-width: 655px;
  margin: 0 auto;
  &__list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 49px;
    flex-wrap: wrap;
    &-item {
      padding: 10px 10px;
    }
    &-item:hover{
      @extend %purple_intensive;
    }
  }
}

.payment {
  background-color: #FAFAFA;
  border-radius: 15px;
  padding: 35px 240px;
  margin-bottom: 50px;
  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }
  &__list-item {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  &__item {
    padding: 17px 27px;
    background-color: #fff;
    border-radius: 15px;
    margin: 0 7px 10px;
  }
}

@media (max-width: 1350px) {
  .payment {
    padding: 35px 50px 15px 35px;
    &__text {
      margin: 0 auto 15px;
    }
    &__list-item {
      margin: 0 auto 15px;
    }
  }
}


@media (max-width: 900px) {
  .payment {
    &__list-item {
      justify-content: center;
    }
  }
}

@media (max-width: 720px) {
  .footer-nav {
    max-width: 326px;
    &__list {
      justify-content: center;
    }
  }
  .payment {
    margin-bottom: 35px;
  }
  .footer__info {
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 440px) {
  .footer__info {
    align-items: flex-start;
  }
}
